<div class="d-flex justify-content-center align-items-center login-container">
  <div class="login-form text-center">
    <h1 id="logo"><i class="fab fa-battle-net"></i></h1>
    <p>Create an account or login</p>
    <a href="/users/register" class="btn mt-2 btn-lg btn-custom btn-block text-uppercase">Register</a>
    <a href="/users/login" class="btn mt-2 btn-lg btn-custom btn-block text-uppercase">Login</a>
  </div>
</div>